@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.about-us {
  @include mxs.adaptive-value($property: "padding", $from: 130, $to: 50);

  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  user-select: none;

  &__title {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 32, $trigger-at: vars.$lg);

    font-weight: 600;
    line-height: 110%;
    text-wrap: nowrap;
  }

  &__description-wrapper {
    align-self: center;

    @media screen and (width <= vars.$sm) {
      grid-column: 1/-1;
    }
  }

  &__description {
    max-width: 450px;
    margin: 40px 40px 0 0;

    @media screen and (width <= vars.$xs) {
      max-width: auto;
      margin: 0;
    }
  }

  &__description-bracket {
    color: vars.$accent-color;
  }

  &__stats {
    display: flex;
    gap: 10px;
    align-items: end;

    @media screen and (width <= vars.$sm) {
      grid-row: 3;
    }
  }

  &__stats-value {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 40, $trigger-at: vars.$md);

    color: vars.$accent-color;
    line-height: 85%;
  }

  &__stats-description {
    max-width: 150px;
    color: rgba($color: vars.$secondary-color, $alpha: 50%);
    font-size: 11px;
    line-height: 150%;

    span {
      color: vars.$accent-color;
      font-weight: 500;
    }
  }

  &__team {
    display: grid;
    grid-row: 2/4;
    grid-template-columns: 1fr auto;
    justify-items: end;
    justify-self: end;
    column-gap: 20px;

    @media screen and (width <= vars.$lg) {
      grid-row: 2/-1;
      grid-column: 2;
      align-self: end;
      height: 50%;
    }

    @media screen and (width <= vars.$sm) {
      grid-row: 4;
      grid-column: 1/-1;
      height: 70%;
    }

    @media screen and (width <= vars.$xs) {
      margin-bottom: 20px;
    }
  }

  &__team-mbr {
    align-self: end;
    text-align: right;
  }

  &__team-mbr-name {
    @include mxs.adaptive-value($property: "font-size", $from: 16, $to: 13);

    margin-bottom: 10px;
  }

  &__team-mbr-position {
    color: rgba($color: vars.$secondary-color, $alpha: 50%);
    font-size: 11px;
    line-height: 150%;
    text-wrap: nowrap;
  }

  &__team-image-wrapper {
    @include mxs.adaptive-value($property: "width", $from: 430, $to: 250);

    position: relative;
    grid-row: 1/3;
    grid-column: 2;
    height: 100%;
    overflow: hidden;

    @media screen and (width <= vars.$lg) {
      @include mxs.adaptive-value($property: "width", $from: 250, $to: 150);
    }

    @media screen and (width <= vars.$sm) {
      @include mxs.adaptive-value($property: "width", $from: 300, $to: 150);
    }
  }

  &__team-image-viewer {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__decorative-square-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
  }

  &__decorative-square {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: vars.$accent-color;

    &:nth-child(1) {
      bottom: 0;
    }

    &:nth-child(2) {
      right: 0;
    }
  }

  &__decorative-text {
    &--static {
      position: absolute;
      top: 50%;
      left: 50%;
      color: rgba($color: vars.$secondary-color, $alpha: 30%);
      transform: translate(-50%, -50%);

      @media screen and (width <= 1400px) {
        display: none;
      }

      @media screen and (width <= vars.$lg) {
        position: static;
        top: auto;
        left: auto;
        display: block;
        grid-row: 1;
        grid-column: 2;
        place-self: end end;
        transform: translate(0%, 0%);
      }
    }
  }

  @media screen and (width <= vars.$lg) {
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    row-gap: 30px;
  }

  @media screen and (width <= vars.$sm) {
    grid-template-rows: auto auto auto 1fr;
  }
}
