@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.not-found-error {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: vars.$height-in-dvh;

  &__wrapper {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: center;
    width: vars.$width-in-dvw;
  }

  &__status-code {
    @include mxs.adaptive-value($property: "font-size", $from: 120, $to: 90);
    @include mxs.adaptive-value($property: "margin-right", $from: 60, $to: 20);

    grid-row: 1/3;
    color: vars.$accent-color;
    line-height: 100%;
    text-align: right;
    user-select: none;
  }

  &__message {
    user-select: none;
  }

  &__go-to-home {
    display: flex;
    gap: 10px;
    align-items: center;
    color: vars.$accent-color;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    svg {
      path {
        fill: vars.$accent-color;
      }
    }
  }

  &__decorative-animate-signal-strip-wrapper {
    @include mxs.adaptive-value($property: "font-size", $from: 14, $to: 16);
    @include mxs.adaptive-value($property: "bottom", $from: 150, $to: 100);
    @include mxs.adaptive-value($property: "left", $from: 150, $to: 20);

    position: absolute;
    font-weight: 500;
    user-select: none;

    @media (height < vars.$xs) {
      display: none;
    }
  }
}
