# Directories
.cache/
.idea/
.npm/
.swc/
.vscode/
build/
coverage/
dev-dist/
dist/
logs/
node_modules/

# Files
*.code-workspace
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
.DS_Store
.env
.env.*
.eslintcache
.stylelintcache
.vscode/*.code-snippets
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
lerna-debug.log*
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock


