@import "../../../styles/variables";
@import "../../../styles/mixins";

.main {
  @include adaptive-value($property: "padding-left", $from: 280, $to: 50);
  @include adaptive-value($property: "padding-right", $from: 280, $to: 50);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: $width-in-dvw;
  height: $height-in-dvh;
  padding-top: 40px;
  padding-bottom: 40px;
  user-select: none;

  &__logo {
    height: 36px;
  }

  &__decorative-animate-lines-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -10;
  }

  &__title {
    @include adaptive-value($property: "font-size", $from: 110, $to: 24);

    color: $secondary-color;
    line-height: 110%;
    text-align: center;
  }

  &__show-all {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: $accent-color;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
