@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.contacts {
  @include mxs.adaptive-value($property: "padding", $from: 130, $to: 50);

  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  user-select: none;

  &__title {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 32, $trigger-at: vars.$lg);

    font-weight: 600;
    line-height: 110%;
  }

  &__decorative-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;

    @media screen and (width <= vars.$sm) {
      grid-row: 3;
      grid-column: 1/-1;
      justify-self: end;
    }
  }

  &__decorative-square {
    width: 16px;
    height: 16px;
    margin: 40px 0 100px auto;
    background-color: vars.$accent-color;

    @media screen and (width <= vars.$sm) {
      margin: 0 auto 50px 0;
    }
  }

  &__email-wrapper {
    align-self: end;

    @media screen and (width <= vars.$sm) {
      grid-row: 4;
    }
  }

  &__email-description {
    @include mxs.adaptive-value($property: "margin-bottom", $from: 30, $to: 20, $trigger-at: vars.$sm);

    max-width: 320px;
    margin-bottom: 30px;
  }

  &__email-address {
    @include mxs.adaptive-value($property: "font-size", $from: 36, $to: 24);

    color: vars.$accent-color;
    line-height: 120%;
    cursor: pointer;
  }

  &__social-wrapper {
    @include mxs.adaptive-value($property: "gap", $from: 40, $to: 20, $trigger-at: vars.$md);

    display: flex;
    align-items: center;
    place-self: end end;

    @media screen and (width <= vars.$sm) {
      grid-row: 2;
      gap: 20px;
      justify-self: start;
      margin: 40px 0;
    }
  }

  &__social-link {
    display: flex;
    gap: 6px;
    align-items: center;
    color: vars.$secondary-color;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: vars.$accent-color;
      }
    }
  }

  &__decorative-animate-radix-grid-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (width <= vars.$sm) {
    grid-template-rows: auto auto auto 1fr;
  }
}
