@use "~/styles/variables" as vars;

.preloader {
  user-select: none;
  touch-action: none;

  &__overlay {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: vars.$width-in-dvw;
    height: vars.$height-in-dvh;
    overflow: hidden;
    color: vars.$secondary-color;
    background: vars.$primary-color;
    pointer-events: none;
  }

  &__message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    color: vars.$accent-color;
    text-align: center;
  }
}
