@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.cases {
  @include mxs.adaptive-value($property: "padding", $from: 130, $to: 50);

  display: grid;
  grid-template-rows: auto 15% 1fr auto;
  grid-template-columns: 20% 1fr auto;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  user-select: none;

  &__title {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 32, $trigger-at: vars.$lg);

    grid-column: 1/3;
    font-weight: 600;
    line-height: 110%;
  }

  &__decorative-corner {
    grid-row: 1;
    grid-column: 3;
    place-self: end end;
    width: 16px;
    height: 16px;
    border-top: 2px solid vars.$accent-color;
    border-left: 2px solid vars.$accent-color;
  }

  &__decorative-marquee-str-wrapper {
    display: flex;
    grid-row: 3;
    align-items: center;
    align-self: flex-start;

    &--brace {
      font-weight: 300;
      font-size: 28px;
    }

    @media screen and (width <= vars.$lg) {
      grid-row: 2;
      grid-column: 1;
      margin: 40px 0 40px -4px;
    }

    @media screen and (width <= vars.$xs) {
      grid-row: 2;
      grid-column: 1;
      margin: 20px 0 20px -4px;
    }
  }

  &__decorative-marquee-str {
    width: 130px;
    padding-top: 3px;
    overflow: hidden;
    color: rgba($color: vars.$secondary-color, $alpha: 20%);
    white-space: nowrap;
  }

  &__case-wrapper {
    display: flex;
    grid-row: 3/-1;
    grid-column: 2/4;
    gap: 5%;
    justify-content: space-between;

    @media screen and (width <= vars.$lg) {
      display: none;
    }
  }

  &__shrinked-case-wrapper {
    display: none;

    @media screen and (width <= vars.$lg) {
      display: block;
      grid-row: 3/-1;
      grid-column: 1;
    }

    @media screen and (width <= vars.$sm) {
      margin-bottom: 40px;
    }
  }

  &__case {
    @include mxs.adaptive-value($property: "padding-left", $from: 30, $to: 20);

    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-columns: 1fr;
    max-width: 300px;
    height: 100%;
    overflow-y: hidden;
    border-left: 6px solid vars.$secondary-color;
    row-gap: 20px;
  }

  &__case-category {
    color: vars.$accent-color;
  }

  &__case-title {
    @include mxs.adaptive-value($property: "font-size", $from: 28, $to: 24);

    font-weight: 600;
    line-height: 120%;
  }

  &__case-description {
    display: flex;
    flex-direction: column;
    margin-top: -5px;
    padding-right: 20px;
    overflow-y: scroll;
    color: rgba($color: vars.$secondary-color, $alpha: 50%);
  }

  &__case-technologies-title {
    margin-bottom: -10px;
    color: vars.$accent-color;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__multi-wrapper {
    display: flex;
    grid-row: 4;
    grid-column: 1;
    gap: 10px;
    align-items: end;

    @media screen and (width <= vars.$lg) {
      grid-row: 4;
      grid-column: 3;
    }

    @media screen and (width <= vars.$sm) {
      grid-row: 4;
      grid-column: 1;
    }

    @media screen and (width <= vars.$xs) {
      grid-row: 5;
      grid-column: 1/4;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }

  &__decorative-indicators {
    display: flex;
    flex-direction: column;

    @media screen and (width <= vars.$lg) {
      display: none;
    }
  }

  &__decorative-indicator {
    margin-top: -12px;
    color: vars.$accent-color;
    font-weight: 600;
    background-color: vars.$primary-color;

    &:nth-child(3) {
      animation: pulsing-indicator 0.1s linear forwards infinite;
    }

    @keyframes pulsing-indicator {
      0% {
        color: vars.$accent-color;
      }

      100% {
        color: rgba($color: vars.$accent-color, $alpha: 30%);
      }
    }
  }

  &__navigate {
    display: none;
    margin-left: 40px;
    color: rgba($color: vars.$secondary-color, $alpha: 30%);

    @media screen and (width <= vars.$lg) {
      display: flex;
      gap: 30px;
    }
  }

  &__navigate-btn {
    color: rgba($color: vars.$secondary-color, $alpha: 30%);

    &.active {
      color: vars.$accent-color;
    }
  }

  &__decorative-text {
    display: none;
    color: rgba($color: vars.$secondary-color, $alpha: 30%);

    @media screen and (width <= vars.$lg) {
      display: block;
      grid-row: 3;
      grid-column: 3;
    }

    @media screen and (width <= vars.$sm) {
      grid-row: 4;
    }

    @media screen and (width <= vars.$xs) {
      display: none;
    }
  }

  @media screen and (width <= vars.$lg) {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr auto auto;
  }

  @media screen and (width <= vars.$xs) {
    row-gap: 20px;
  }
}
