@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.ask-ai {
  @include mxs.adaptive-value($property: "padding", $from: 130, $to: 50);

  display: flex;
  align-items: center;
  justify-content: center;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  text-align: center;
  user-select: none;

  &__title {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 32, $trigger-at: vars.$lg);

    grid-column: 1/4;
    margin-bottom: 30px;
    font-weight: 500;
    line-height: 100%;
  }

  &__form-wrapper {
    grid-column: 1/4;
    align-self: self-end;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (width <= vars.$md) {
      grid-template-columns: 1fr;
    }
  }

  &__inputs-wrapper {
    @include mxs.adaptive-value($property: "gap", $from: 50, $to: 30, $trigger-at: vars.$sm);

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, 1fr);

    @media screen and (width <= vars.$sm) {
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
  }

  &__send-message-btn {
    @include mxs.adaptive-value($property: "font-size", $from: 26, $to: 20, $trigger-at: vars.$sm);
    @include mxs.adaptive-value($property: "height", $from: 40, $to: 32, $trigger-at: vars.$md);
    @include mxs.adaptive-value($property: "width", $from: 40, $to: 32, $trigger-at: vars.$md);

    display: flex;
    gap: 12px;
    align-items: center;
    place-self: flex-start flex-start;
    justify-content: center;
    color: vars.$primary-color;
    border: 1px solid rgba($color: vars.$accent-color, $alpha: 100%);
    background-color: vars.$accent-color;

    svg {
      path {
        fill: vars.$primary-color;
      }
    }

    @media screen and (width <= vars.$sm) {
      margin-top: 10px;
    }
  }
}

.ask-ai-input {
  @include mxs.adaptive-value($property: "font-size", $from: 14, $to: 13, $trigger-at: vars.$xs);

  position: relative;
  height: 35px;

  &__label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgba($color: vars.$secondary-color, $alpha: 50%);
    line-height: 150%;
    transition: all 0.3s;
    user-select: none;

    &.label-top {
      bottom: 100%;
      color: rgba($color: vars.$secondary-color, $alpha: 50%);
      font-size: 11px;
      line-height: 150%;
      transition: all 0.2s;
      user-select: none;
    }
  }

  &__field {
    width: 100%;
    height: 100%;
    padding: 1px 1px 10px;
    color: vars.$secondary-color;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgba($color: vars.$primary-color, $alpha: 100%);
    border-bottom: 1px dashed rgba($color: vars.$secondary-color, $alpha: 15%);
    border-radius: 0;

    &:focus {
      border-bottom: 1px dashed vars.$secondary-color;

      + .ask-ai-input__label {
        bottom: 100%;
        color: rgba($color: vars.$secondary-color, $alpha: 50%);
        font-size: 11px;
        line-height: 150%;
        transition: all 0.2s;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      color: vars.$secondary-color !important;
      transition: background-color 0s 262144s !important;
      caret-color: vars.$secondary-color !important;
      -webkit-text-fill-color: vars.$secondary-color !important;

      + .ask-ai-input__label {
        bottom: 100%;
        color: rgba($color: vars.$secondary-color, $alpha: 50%);
        font-size: 11px;
        line-height: 150%;
        transition: all 0.2s;
      }
    }
  }

  &__error {
    position: absolute;
    top: 40px;
    color: vars.$error-color;
    font-size: 12px;
    user-select: none;

    @media screen and (width <= vars.$sm) {
      top: 38px;
      font-size: 11px;
      line-height: 120%;
    }

    @media screen and (width <= vars.$xs) {
      top: 38px;
    }
  }
}
