@use '~/styles/variables' as vars;
@use '~/styles/mixins' as mxs;

.ask-ai {
  @include mxs.adaptive-value($property: 'padding', $from: 130, $to: 50);

  position: relative;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  user-select: none;

  &__title {
    @include mxs.adaptive-value($property: 'font-size', $from: 72, $to: 32, $trigger-at: vars.$lg);

    font-weight: 600;
    line-height: 110%;
  }

  &__chat {
    @include mxs.adaptive-value($property: 'width', $from: 600, $to: 300);

    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    height: 90%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__chat-inner {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__intro-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    width: 100%;

    &--title {
      @include mxs.adaptive-value($property: 'font-size', $from: 24, $to: 16);

      grid-column: 1/-1;
      text-align: center;
      margin-bottom: 20px;
    }

    &--hint {
      @include mxs.adaptive-value($property: 'padding', $from: 20, $to: 10);

      text-align: center;
      color: rgba($color: vars.$secondary-color, $alpha: 50%);
      border: 1px dashed rgba($color: vars.$secondary-color, $alpha: 10%);
    }
  }

  &__conversation {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__message {
    @include mxs.adaptive-value($property: 'font-size', $from: 14, $to: 13);

    max-width: 70%;
    word-wrap: break-word;

    &--assistant {
      padding: 10px 10px 10px 0;
      align-self: flex-start;
      color: vars.$secondary-color;
      margin: 10px 0;
    }

    &--user {
      align-self: flex-end;
      padding: 10px;
      background-color: rgba($color: vars.$secondary-color, $alpha: 0.1);
      color: vars.$secondary-color;
      margin: 10px 0;
    }
  }

  &__message-content {
    @include mxs.adaptive-value($property: 'font-size', $from: 14, $to: 13);

    white-space: pre-wrap;

    &.is-thinking {
      background: linear-gradient(90deg, vars.$secondary-color, rgba(vars.$secondary-color, 0.1), vars.$secondary-color) -100%/ 200%;
      /* being excessively careful with compat,
       * though this has been supported unprefixed and
       * in the shorthand across major browsers for a while;
       * but it catches the latest browser versions supported
       * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
      -webkit-background-clip: text;
              background-clip: text;
      /* use color, don't use -webkit-text-fill-color anymore,
       * was meant to solve a problem we haven't had in years */
      color: transparent;
      animation: shimmer 2s linear infinite
    }
  }

  &__chat-form {
    width: 100%;
    height: 52px;
    display: flex;
    gap: 20px;
  }

  &__send-message-btn {
    @include mxs.adaptive-value($property: 'font-size', $from: 26, $to: 20, $trigger-at: vars.$sm);
    @include mxs.adaptive-value($property: 'height', $from: 40, $to: 32, $trigger-at: vars.$md);
    @include mxs.adaptive-value($property: 'width', $from: 40, $to: 32, $trigger-at: vars.$md);

    display: flex;
    gap: 12px;
    align-items: center;
    place-self: flex-start flex-start;
    justify-content: center;
    color: vars.$primary-color;
    border: 1px solid rgba($color: vars.$accent-color, $alpha: 100%);
    background-color: vars.$accent-color;

    svg {
      path {
        fill: vars.$primary-color;
      }
    }

    @media screen and (width <=vars.$sm) {
      margin-top: 10px;
    }
  }

  // @media screen and (width <= vars.$lg) {
  //   grid-template-rows: auto auto 1fr;
  //   grid-template-columns: 1fr auto;
  //   row-gap: 30px;
  // }

  // @media screen and (width <= vars.$sm) {
  //   grid-template-rows: auto auto auto 1fr;
  // }
}

.ask-ai-input {
  @include mxs.adaptive-value($property: 'font-size', $from: 14, $to: 13, $trigger-at: vars.$xs);

  position: relative;
  width: 100%;
  height: 40px;

  &__label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgba($color: vars.$secondary-color, $alpha: 50%);
    line-height: 150%;
    transition: all 0.3s;
    user-select: none;

    &.label-top {
      bottom: 100%;
      color: rgba($color: vars.$secondary-color, $alpha: 50%);
      font-size: 11px;
      line-height: 150%;
      transition: all 0.2s;
      user-select: none;
    }
  }

  &__field {
    width: 100%;
    height: 100%;
    padding: 1px 1px 10px;
    color: vars.$secondary-color;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgba($color: vars.$primary-color, $alpha: 100%);
    border-bottom: 1px dashed rgba($color: vars.$secondary-color, $alpha: 15%);
    border-radius: 0;

    &:focus {
      border-bottom: 1px dashed vars.$secondary-color;

      + .ask-ai-input__label {
        bottom: 100%;
        color: rgba($color: vars.$secondary-color, $alpha: 50%);
        font-size: 11px;
        line-height: 150%;
        transition: all 0.2s;
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      color: vars.$secondary-color !important;
      transition: background-color 0s 262144s !important;
      caret-color: vars.$secondary-color !important;
      -webkit-text-fill-color: vars.$secondary-color !important;

      + .ask-ai-input__label {
        bottom: 100%;
        color: rgba($color: vars.$secondary-color, $alpha: 50%);
        font-size: 11px;
        line-height: 150%;
        transition: all 0.2s;
      }
    }
  }

  &__error {
    position: absolute;
    top: 40px;
    color: vars.$error-color;
    font-size: 12px;
    user-select: none;

    @media screen and (width <=vars.$sm) {
      top: 38px;
      font-size: 11px;
      line-height: 120%;
    }

    @media screen and (width <=vars.$xs) {
      top: 38px;
    }
  }
}

@keyframes shimmer { to { background-position: 100% } }