@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.we-use {
  @include mxs.adaptive-value($property: "padding", $from: 130, $to: 50);
  @include mxs.adaptive-value($property: "column-gap", $from: 50, $to: 5);

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  row-gap: 40px;

  &__title {
    @include mxs.adaptive-value($property: "font-size", $from: 72, $to: 32, $trigger-at: vars.$lg);

    grid-column: 1/4;
    font-weight: 600;
    line-height: 110%;

    @media screen and (width <= 1400px) {
      grid-column: 1/3;
    }

    @media screen and (width <= vars.$md) {
      grid-column: 1;
    }
  }

  &__decorative-text {
    align-self: end;

    @media screen and (width <= 500px) {
      display: none;
    }
  }

  &__decorative-corner {
    place-self: end end;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid vars.$accent-color;
    border-left: 2px solid vars.$accent-color;
  }

  &__menu {
    @include mxs.adaptive-value($property: "gap", $from: 20, $to: 14, $trigger-at: vars.$xs);

    display: flex;
    flex-direction: column;
    margin-right: 20px;

    @media screen and (width >= vars.$md) {
      display: none;
    }

    @media screen and (width <= 500px) {
      flex-flow: row wrap;
      grid-column: 1/-1;
      margin-top: 20px;
      margin-right: 0;
    }
  }

  &__menu-item {
    @include mxs.adaptive-value($property: "font-size", $from: 18, $to: 14, $trigger-at: vars.$xs);

    height: fit-content;
    color: vars.$secondary-color;
    color: rgba($color: vars.$secondary-color, $alpha: 30%);
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
    background-color: transparent;

    &.active {
      color: vars.$accent-color;
    }
  }

  &__toolset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
    overflow-x: hidden;
    line-height: 150%;
    border-top: 6px solid vars.$secondary-color;

    @media screen and (width <= vars.$md) {
      display: none;
    }
  }

  &__shrinked-toolset {
    width: fit-content;
    padding-top: 20px;
    border-top: 6px solid vars.$secondary-color;

    @media screen and (width >= vars.$md) {
      display: none;
    }

    @media screen and (width <= 500px) {
      grid-row: 3;
      grid-column: 1/-1;
    }
  }

  &__toolset-title {
    @include mxs.adaptive-value($property: "font-size", $from: 22, $to: 16);

    color: vars.$accent-color;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__tools {
    height: 100%;
    overflow-y: scroll;
  }

  &__tool {
    margin-bottom: 5px;
    text-wrap: nowrap;

    &--highlight {
      color: vars.$accent-color;
    }
  }

  &__decorative-rectangle {
    grid-row: 3;
    grid-column: 1;
    width: 6px;
    height: 20px;
    background-color: vars.$secondary-color;

    @media screen and (width >= vars.$md) {
      display: none;
    }

    @media screen and (width <= 600px) {
      display: none;
    }
  }

  &__decorative-abstract-phrase {
    @include mxs.adaptive-value($property: "font-size", $from: 36, $to: 16);

    grid-column: 3/-1;
    margin-top: -15px;
    color: rgba($color: vars.$secondary-color, $alpha: 30%);
    font-weight: 300;
    line-height: 150%;

    @media screen and (width <= 1400px) {
      @include mxs.adaptive-value($property: "font-size", $from: 20, $to: 13);

      grid-row: 3;
      grid-column: 4;
      margin-top: -5px;
    }

    @media screen and (width <= vars.$md) {
      grid-column: 2/-1;
      align-self: end;
    }

    @media screen and (width <= 600px) {
      grid-column: 1/-1;
      margin-top: 0;
      font-weight: 400;
    }

    @media screen and (width <= 500px) {
      grid-row: 4;
    }
  }

  @media screen and (width <= 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (width <= vars.$md) {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr auto;
  }

  @media screen and (width <= 500px) {
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 1fr auto;
    row-gap: 3%;
  }
}
