@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.main {
  @include mxs.adaptive-value($property: "padding-left", $from: 280, $to: 50);
  @include mxs.adaptive-value($property: "padding-right", $from: 280, $to: 50);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: vars.$width-in-dvw;
  height: vars.$height-in-dvh;
  padding-top: 40px;
  padding-bottom: 40px;
  user-select: none;

  &__brand-logo {
    @include mxs.adaptive-value($property: "width", $from: 160, $to: 140);

    position: relative;
    object-fit: cover;
    object-position: center;
  }

  &__decorative-animate-lines-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -10;
  }

  &__text {
    display: flex;
    align-items: center;
    flex-direction: column;

    span {
      color: vars.$accent-color;
    }
  }

  &__text-title {
    @include mxs.adaptive-value($property: "font-size", $from: 95, $to: 24);

    color: vars.$secondary-color;
    line-height: 140%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__text-lead {
    @include mxs.adaptive-value($property: "font-size", $from: 22, $to: 14);
    @include mxs.adaptive-value($property: "margin-left", $from: 110, $to: 10);
    @include mxs.adaptive-value($property: "margin-right", $from: 110, $to: 10);

    color: rgba($color: vars.$secondary-color, $alpha: 65%);
    line-height: 140%;
    text-align: center;
    overflow: hidden;
  }

  &__show-all {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: vars.$accent-color;
    font-weight: 600;
    font-size: 16px;
    text-transform: lowercase;
    min-height: 24px;
    cursor: pointer;
  }
}
