@use "./styles/null";
@use "./styles/fonts";
@use "./styles/variables" as vars;
@use "./styles/mixins" as mxs;
@use "./styles/vendors";

body {
  @include mxs.adaptive-value($property: "font-size", $from: 14, $to: 13);

  overflow: hidden;
  color: vars.$secondary-color;
  font-family: "IBM Plex Mono", sans-serif;
  line-height: 150%;
  background-color: vars.$primary-color;
  user-select: none;
  touch-action: none;
  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &.small-height {
    overflow: hidden;
    user-select: none;
    touch-action: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

div#root {
  display: flex;
}

/**
 * Override default theme for `overlayscrollbars`.
 */
.os-theme-backendery.os-scrollbar-vertical {
  --os-size: 3px;
  --os-track-border-radius: 0px;
  --os-handle-bg: #{vars.$accent-color};
  --os-handle-border-radius: 0px;
}

/**
 * Override default cursor blink animation with a sharp, stepwise effect.
 */
.typed-cursor.typed-cursor--blink {
  // Use 'steps(1, start)' to make the cursor blink without any fade effect
  animation: blink 1s steps(1, start) infinite !important;
}

/**
 * Keyframes for the blink animation: fully visible at 0% and 100%, invisible at 50%.
 */
@keyframes blink {
  0%,
  100% {
    opacity: 1; // Show cursor
  }

  50% {
    opacity: 0; // Hide cursor
  }
}
