@use "~/styles/variables" as vars;
@use "~/styles/mixins" as mxs;

.virtual-scene {
  transition: transform (vars.$fast * 2) vars.$easing;

  &__wrapper {
    width: vars.$width-in-dvw;
    height: vars.$height-in-dvh;
    transition: transform vars.$fast vars.$easing;
  }

  &.show-all {
    transform: scale(calc(1 / 3));
  }
}

.virtual-space {
  position: absolute;
  width: 100%;
  height: vars.$height-in-dvh;
  transition: transform vars.$fast vars.$easing;
  user-select: none;
  will-change: transform;

  &::before {
    position: absolute;
    z-index: 990;
    background-color: transparent;
    transition: background-color vars.$fast vars.$easing;
    content: "";
    pointer-events: none;
    inset: 0;

    .show-all & {
      pointer-events: all;
    }
  }

  &:hover {
    @media (hover: hover) and (pointer: fine) {
      .show-all & {
        &::before {
          background-color: rgba($color: vars.$secondary-color, $alpha: 3.5%);
          cursor: pointer;
        }
      }
    }
  }

  &__caption {
    @include mxs.adaptive-value($property: "font-size", $from: 141, $to: 52);

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 985;
    display: none;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    background-color: vars.$primary-color;
    transform: translateX(-50%) translateY(-50%);
    cursor: default;

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__navigate {
    position: absolute;
    z-index: 980;
    color: vars.$secondary-color;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.2;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.35;
    transition: opacity vars.$fast vars.$easing;
    will-change: opacity;

    &--up {
      top: vars.$spacer;
      left: 50%;
      transform: translateX(-50%);
    }

    &--right-top {
      top: vars.$spacer;
      right: vars.$spacer;
    }

    &--right {
      top: 50%;
      right: vars.$spacer;
      transform: translateY(-50%) rotate(90deg) translateX(100%);
      transform-origin: top right;
    }

    &--right-down {
      right: vars.$spacer;
      bottom: vars.$spacer;
    }

    &--down {
      bottom: vars.$spacer;
      left: 50%;
      transform: translateX(-50%);
    }

    &--left-down {
      bottom: vars.$spacer;
      left: vars.$spacer;
    }

    &--left {
      top: 50%;
      left: vars.$spacer;
      transform: translateY(-50%) rotate(-90deg) translateX(-100%);
      transform-origin: top left;
    }

    &--left-top {
      top: vars.$spacer;
      left: vars.$spacer;
    }

    &:hover {
      opacity: 1;
    }
  }

  &[data-x-position="-1"] {
    left: -100%;
  }

  &[data-x-position="1"] {
    left: 100%;
  }

  &[data-y-position="1"] {
    top: -100%;
  }

  &[data-y-position="-1"] {
    top: 100%;
  }
}
